name: Latest blog posts workflow
on:
  schedule:
    - cron: "0 2 * * *" # daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update README with latest posts
    runs-on: ubuntu-latest
    steps:
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "5"
          feed_list: "https://medium.com/feed/@abishekkumar92"
